*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  Arial, Helvetica, sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    height: 100vh;
    overflow-x: hidden; /* Hide horizontal overflow */
}

header{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), 
                      url('https://cnbl-cdn.bamgrid.com/assets/186e8d6e466eb3623bf5d2807510e4c24c582f4896dc0e822f662fa0ea35130c/original');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 600px;
    
}
header svg{
    fill: #1CE783;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 70px;
    margin: 0 auto;
}
.navbar button{
    border: 0;
    outline: none;
    background: transparent;
    color: #F4F4F5;
    letter-spacing: 1px;
    font-weight: bold;
}
.headercontent{
    max-width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 90px;
}
.headercontent .content{
    max-width: 50%;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: #1CE783;
    padding: 0 20px;
}
.headercontent .content h6{
    font-weight: bold;
    letter-spacing: 1px;
}
.headercontent .content h1{
    color: white;
    font-weight: lighter;
    font-size: 2rem;
    padding-bottom: 20px;
}
.headercontent .content img{
    padding: 10px;
    max-width: 300px;
    
}
.headercontent .content .img2{
    max-width: 200px;
}
.headercontent .content button{
    max-width: 100%;
    border: 0;
    outline: none;
    background: #1CE783;
    height: 40px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 1px;
}
.linkhead{
    margin: 15px 325px;
    width: 50%;
    text-align: center;
    
}
.termsapply{
    text-align: center;
    color: rgb(209, 202, 202);
    font-size: x-small;
}
.linkhead p{
    padding: 10px;
    font-weight: lighter;
}
.linkhead h5 a{
    color: white;
    font-weight: lighter;
}

/* ......................bundle max section............. */

.maxbundle{
    background-image: linear-gradient(to right, #091823 , #0E4251);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagemax {
    width: 25%;
    padding: 10px;
}
.maxbundle img{
    width: 100%;
}
.contentmax{
    padding: 10px;
    width: 45%;
}
.h5{
    color: #1CE783;
    font-weight: bold;
    padding-bottom: 10px;
    letter-spacing: 1px;
    font-size: .7rem;
}
.contentmax h2{
    color: white;
    font-weight: lighter;
    padding-bottom: 20px;
}
.contentmax p{
    font-size: x-small;
    color: rgb(247, 244, 244);
}
.buttonmax{
    width: 20%;
    text-align: center;
}
.buttonmax button{
    width: 65%;
    border: 0;
    outline: none;
    background: #1CE783;
    height: 45px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* ..................start build plan section.......... */

.buildplan{
    background-image: linear-gradient(to top, #172423 , #279B62);
    height: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.buildplan h2{
    color: white;
    padding: 25px;
    font-size: 1.2rem;
    letter-spacing: 1px;
}
.buildplan button{
    padding: 15px 90px;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    background: transparent;
    border: 0;
    outline: none;
    border: 2px solid white;
}

/* ........................plans section.......... */
.plans{
    background-color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.headlines{
    padding-top: 0px 100px;
    padding-top: 90px;
}
.plans h1{
    color: white;
    font-size: 2.5rem;
    padding-top: 10px;
    padding-bottom: 25px;
}
.plans p{
    color: white;
    text-align: center;
    letter-spacing: 1px;
    padding: 0 225px;
    padding-bottom: 50px;
}
.imageplan{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.imageplan .card{
    width: 23%;
    align-content: center;
    position: relative;
}

.imageplan .card img{
    width: 100%;
    height: 450px;
    border-radius: 15px;
    object-fit: cover;
}
.smaller{
    color: #d9d9db;
    font-size: xx-small;
    letter-spacing: 1px;
}

.tryhulu h4{
    color: #1CE783;
    font-size: small;
}
.tryhulu h3{
    font-size: 1.1rem;
    color: white;
    padding: 0 225px;
    font-weight: lighter;
    letter-spacing: 1px;
    padding-bottom: 30px;
}
.tryhulu button{
    padding: 15px 25px;
    background: #1CE783;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
}

/* .............................sports section..................... */
.sports{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),url(https://cnbl-cdn.bamgrid.com/assets/3ab6ce86baaf4225b072c58fa9497ec949c0c9e284b3958ecda1429b7f3744f9/original);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 700px;
    align-content: start;
}
.sportscontent{
    width: 60%;
    padding-left: 150px;
    justify-content: center;
    padding-right: 100px;
}
.sportsnav {
    display: flex;
    justify-content: left;
    padding-top: 150px;
    width: 100%;
}

.sportsnav a {
    color: rgb(170, 175, 172);
    padding: 10px 8px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    position: relative;
}

.sportsnav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust the distance between the text and the line */
    width: 0;
    height: 4px;
    background-color: white; /* Color of the underline */
    /* transition: width 0.1s; */
}

.sportscontent a.active::after {
    width: 100%;
}

.sportscontent a.active {
    color: white; /* Optional: Change color of active nav item */
}
.livesports{
    padding: 50px 0;
    justify-content: center;
}
.livesports h1{
    color: white;
    font-size: 3rem;
    padding-bottom: 20px;
}
.livesports h6{
    color: white;
    font-size: 1rem;
    padding-bottom: 20px;
    letter-spacing: 1px;
}
.roundimg{
    width: 70%;
    display: flex;
    padding: 15px 0px;
    align-content: center;
    justify-content: space-between;
}
.roundimg .imgdiv{
    background: white;
    border-radius: 50%;
    width: 15%;
    align-content: center;
    justify-content: space-between;
    overflow: hidden;
}
.roundimg .imgdiv img{
 width: 100%;
 object-fit: fill;
}
.selectplan{
    background-color: black;
    align-items: center;
    justify-content: center;
    color: white;
}
.selectplan .planhead{
    align-content: center;
    text-align: center;
    padding-top:70px ;
}
.planhead h1{
    font-size: 3rem;
}
.planhead h6{
    font-size: 1.1rem;
    font-weight: lighter;
    padding: 0px 350px;
    padding-top: 20px;
    letter-spacing: 1px;
    padding-bottom: 30px;
}
.planhead button{
    background: white;
    border: 0;
    border-radius: 20px;
    height: 50px;
    padding: 0 90px;
    text-align: center;
}
